@font-face {
  font-family: 'HakgyoansimBadasseugiTTF-L';
  src: url('./fonts/Hakgyoansim Badasseugi TTF L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HakgyoansimBadasseugiTTF-L', sans-serif !important; 
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
